<html>
  <head>
    <link rel="stylesheet" href="/static/css/chat.css" />

    <!-- Import this CDN to use icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <!-- Main container -->
    <div class="container">
      <!-- msg-header section starts -->
    
      
        <div class="msg-header">
          <div class="container1">
            <a href="{% url 'dashboard' %}" class="back-button">
              <i class="bi bi-arrow-left"></i>
            </a>
            <div class="active">
              <p>{{ group.name }}</p>
            </div>
          </div>
        </div>

      <!-- msg-header section ends -->

      <!-- Chat inbox  -->
     <!-- Message container -->
<div class="msg-page">
  {% for message in messages %}
    {% if message.sender == user.username %}
      <!-- Outgoing messages -->
      <div class="outgoing-chats">
        <a href="/templates/thread.html" class="message-button">
          <div class="outgoing-msg">
            <div class="outgoing-chats-msg">
              <p>{{ message.content }}</p>
              {% if message.timestamp %}
                <span class="time">{{ message.timestamp|date:"H:i PM | M d" }}</span>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% else %}
      <!-- Incoming messages -->
      <div class="received-chats">
        <a href="/templates/thread.html" class="message-button">
          <div class="received-msg">
            <div class="received-msg-inbox">
              <p>{{ message.content }}</p>
              {% if message.timestamp %}
                <span class="time">{{ message.timestamp|date:"H:i PM | M d" }}</span>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>

          <!-- msg-bottom section -->
          <form method="post" action="{% url 'chat' group.id %}">
            {% csrf_token %}
          <div class="msg-bottom">
            <div class="input-group">
              <input
                type="text"
                name = "message_content"
                class="form-control"
                placeholder="Write message..."
              />

              <span class="input-group-text send-icon">
                <i class="bi bi-send"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


